<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<li><a class="drops" href="#">CSS</a></li>
			<li><a class="drops" href="#">HTML</a></li>
			<li><a class="drops" href="#">Javascript</a></li>
			<li><a class="drops" href="#">Ruby</a></li>
		</ul>
	</li>
	<li class="last-list">
		<span class="dropdown-subtitle-one">Help</span>
		<ul class="help">
			<li><a class="blues" href="#">FAQ</a></li>
			<li><a class="blues" href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>
