<div class="sections-nav">
  <ul>
    <li>
      <a class="section" href="">World</a>
    </li>
    <li>
      <a class="section" href="">San Francisco</a>
    </li>
    <li>
      <a class="section" href="">New York</a>
    </li>
    <li>
      <a class="section" href="">Bootcamp Prep</a>
    </li>
    <li>
      <a class="section" href="">Jumpstart</a>
    </li>
    <li>
      <a class="section" href="">Online</a>
    </li>
    <li>
      <a class="section" href="">Marketing</a>
    </li>
    <li>
      <a class="section" href="">Sales</a>
    </li>
    <li>
      <a  class="section" href="">TalentMatch</a>
    </li>
    <li>
      <a class="section" href="">Alumni</a>
    </li>
    <li>
      <a class="all" href="">ALL</a>
    </li>
  </ul>
</div>
