body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 24px;
}

ul {
    list-style: square inside;
}

ol {
    list-style: none;
}

body header img .src {
    size: 100px;
}

