<div class="masthead">
  <div class="language-nav">
    <ul>
      <li>
        <a href="">CSS</a>
      </li>
      <li>
        <a href="">HTML</a>
      </li>
      <li>
        <a href="">JAVASCRIPT</a>
      </li>
      <li>
        <a href="">RUBY</a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="Logo">
  </div>
  <div class="masthead-links">
    <ul>
      <li>
        <button type="button">Tuesday, October 18, 2016</button>
      </li>
      <li>
        <button type="button">Today’s Paper</button>
      </li>
      <li>
        <button type="button">Video</button>
      </li>
      <li>
        <button type="button">77°F</button>
      </li>
      <li>
        <button type="button">AAO <span class="100">+100%</span></button>
      </li>
    </ul>
  </div>
</div>
